<div class="dog">

  <h1>It's a dog</h1>

  <h3><%= @breed.name.humanize %></h3>

  <%= image_tag @breed.pic_url %>

  <h2>Select a breed</h2>
  <%= form_tag breeds_path do %>
    <%= select_tag "breed_name", options_for_select(breed_options_for_select),
      id: "breed_name",
      onchange: "this.form.submit();"
    %>
  <% end %>

</div>
